.wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-item{
  display: flex;
  justify-content: center;
  align-items:center ;
  gap: 20px;
  list-style: none;
}

.list-item{
  padding: -10px;
  margin: 0;
}

.list-item a{
  text-decoration: none;
  color: #fff;
  background: #000;
  padding:  5px;
}

.list-item a:hover{
  border-bottom: 2px solid #fff;
}

button {
  border: none;
  background: #000;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}